
<footer id="footer" class="section">

    <div id="footer-top"  class="container align-items-lg-center d-flex">

        <div class="text-center mr-5 col-lg-3 text-md-left">
            <div class=" footer-contact">
                <h3>MI YONKER</h3>
                <p>Tu directorio de repuestos en linea.</p><br>
            </div>

            <div class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos Reservados <strong><span>Mi Yonker</span></strong>.
            </div>

            <div class="credits">
            Designed by <a href="index.html">Mi Yonker</a>
            </div>
        </div>

        <div class="col-lg-4 mr-5 footer-newsletter">
            <h3>Subscribete a las Noticias</h3>
            <p>Mantente actualizado cuales son los nuevos repuestos a tu alcance </p>
            <form>
                <input class="input" type="email" placeholder="Escribe tu correo">
                <input class="newsletter-btn" type="submit" value="Subscribir"> 
            </form>
        </div>

        <div class="row col-lg-3 ml-2">

            <div class="footer-links newsletter-follow">
                <h4>Links Utiles</h4>
                <ul> 
                <li><i class="bx bx-chevron-right"></i> <a href="index.html">Inicio</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#about">Conocenos</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Beneficios</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terminos del Servicio</a></li>
                </ul>
            </div>
    
            <div class="social-links">
                <a href="https://twitter.com/" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="https://web.whatsapp.com/" class="Whatsapp"><i class="icofont-whatsapp"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin"><i class="icofont-linkedin"i></i></a>
            </div>
    
        </div>
    </div>

</footer>