<header id="header" class=" align-items-center">

    <div id="top-header" class="bg-white fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo mr-auto" >
                        <a href="index.html"><img src="assets/img/MiYonker.png" data-aos-delay="100" class="img-fluid animated"></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">Categorias</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select>
                            <input class="input" placeholder="Busque Aqui">
                            <button class="search-btn">Buscador</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">3</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="assets/img/product01.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>

                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="assets/img/product02.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#">View Cart</a>
                                    <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#about">
                                <i class="fa fa-user-circle"></i>
                                <span>Ingresar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav id="navigation" class="all nav-menu d-none d-lg-flex justify-content-center">
            <ul class="main-nav nav navbar-nav d-inline-block"> 
                <li class="active"><a href="#header">Inicio</a></li>
                <li><a href="#about">Conocenos</a></li>
                <li><a href="#services">Beneficios</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#team">Equipo</a></li>
                <li><a href="#contact">Contactanos</a></li>
            </ul>
        </nav>
    </div>
</header>
