<section id="contact" class="contact">
    <div class="container compont">
        <div class="row">

            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">

                <div class="section-title mb-0">
                    <h2>REGISTRAR NUEVO REPUESTO</h2>
                </div>

                <form class="php-email-form">
                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <!-- <label for="brandControlSelect">Seleccione un Vehiculo</label>
                            <select name="vehicle" class="form-control" id="vehicleControlSelect" [(ngModel)]="vehicles.name">
                                <option *ngFor="let vehicle of Vehicles" [value]="Vehicle.id">{{vehicle.name}}</option>
                            </select> -->
                            <div class="validate"></div>
                        </div>
                
                        <div class="col-md-6 form-group">
                            <input type="text" part="name" class="form-control" id="part" placeholder="PARTE DEL VEHÍCULO" />
                            <div class="validate"></div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <input type="text" class="form-control" name="vehicle" id="vehicle" placeholder="VEHÍCULO" />
                        <div class="validate"></div>
                    </div>
                
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="Nombre" class="form-control" id="name" placeholder="NOMBRE DE LA PARTE"/>
                            <div class="validate"></div>
                        </div>
                
                        <div class="col-md-6 form-group">
                            <input type="number" name="id" class="form-control" id="id" placeholder="ID DE LA PARTE"/>
                            <div class="validate"></div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <input type="text" class="form-control" name="detalle" id="detail" placeholder="DETALLE" />
                        <div class="validate"></div>
                    </div>
                
                
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">GUARDAR</button></div>
                </form>

            </div>

            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

                <div class="section-title mb-0">
                    <h2>REGISTROS</h2>
                </div>

                <div class="row">

                    <div class="info col-lg-auto">
                        <table class="table table-sm">
                            <tr>
                                <td>Nombre</td>
                                <td>Descripcion</td>
                                <td>Marca</td>
                                <td><i class="far fa-edit fa-lg" style="cursor: pointer;"></i></td>
                                <td><i class="far fa-trash-alt fa-lg" style="cursor: pointer;"></i></td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>